*, *::after, *::before {
    box-sizing: border-box;
}

/*variables*/
:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size)*0.9);
}

body {
    margin: 0;
}

.board {

    /*board takes up whole screen*/
    width: 100vw;
    height: 100vh;

    /*center board*/
    display: grid;
    justify-content: center;
    align-content: center;

    /*center X's and O's within cells*/
    justify-items: center;
    align-items: center;


    /*arrange cells as 3x3*/
    grid-template-columns: repeat(3, auto);
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid black;
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

/*remove top border for top 3 cells*/
.cell:first-child, .cell:nth-child(2), .cell:nth-child(3) {
    border-top: none;
}
/*remove left border for left 3 cells*/
.cell:nth-child(3n+1) {
    border-left: none;
}
/*remove right border for right 3 cells*/
.cell:nth-child(3n+3) {
    border-right: none;
}
/*remove bottom border for bottom 3 cells*/
.cell:nth-child(7), .cell:nth-child(8), .cell:nth-child(9) {
    border-bottom: none;
}

/*create X = 2 vertical lines*/
.cell.x::before, .cell.x::after {
    content: '';
    width: calc(var(--mark-size)*0.15);
    height: var(--mark-size);
    background-color: black;
    position: absolute;
}
/*rotate one of the lines*/
.cell.x::before {
    transform: rotate(45deg);
}
/*rotate other line*/
.cell.x::after {
    transform: rotate(-45deg);
}